{% extends 'blog/base.html' %} 
{% load static %} 
{% block title %}About me{% endblock%} 

{% block content %}

<div>
	<div class="container">
		<div class="blog">
			<div class="page">
				<div class="page-content">
					<!-- <h1>About me</h1> -->
					<img class="img-fluid mx-auto d-block" src="{% static 'blog/assets/img/me.png' %}" alt="me.png">
					<h2>About</h2>
					<p>
						你好，我是陳宇釩，我來自台灣高雄，目前我專注在開發網頁後端與資料分析，
						關於程式部分的知識大多都是自學而成，透過網路上的教學資源、Doc或是與他人進行討論，
						為此開設這個部落格來記錄一些重要的學習過程。
					</p>	
					<p>
						如果有任何問題可以直接與我聯絡&#128513;。
					</p>
					<p>我的信箱: et860525@gmail.com</p>
					<p>
						Hello, I'm YuFan Chen. I'm from Kaohsiung, Taiwan.
						By now, I'm focusing on Web Development and Data Analysis,
						My knowledge most from self-study, reading sources from the internet, Documentation, communicating with people.
						I built this blog to record my learning process and show what I learned before.
					</p>
					<p>
						Please let me know if you have any questions&#128513;.
					</p>
					<p>My Mail: et860525@gmail.com</p>
					<br>
					<h2>Skills</h2>
					<ul>
						<li><b>Programming languages</b>: Python, JavaScript</li>
						<li><b>Web development</b>: Django, Flask, RESTful API, jQuery</li>
						<li><b>Web scraping</b>: Requests, Selenium, Beautiful Soup</li>
						<li><b>Data visualization</b>: Matplotlib, Seaborn</li>
						<li><b>Operating system</b>: Ubuntu</li>
						<li><b>Database</b>: PostgreSQL, MySQL</li>
						<li><b>DevOps</b>: git, Nginx, Docker</li>
						<li><b>Game Engine</b>: Unity</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}