{% extends 'blog/base.html' %}

{% load blog_extras %}

{% block title %}{{ post.headline }}{% endblock %}

{% block content %}

<!-- Back to top button -->
<button type="button" class="btn btn-danger btn-floating btn-lg" id="btn-back-to-top">
	<i class="fas fa-arrow-up"></i>
</button>

<div>
	<div class="container-fluid">
		<div class="blog">
			<article class="post">
				<div class="post-content">
					<div class="content-header">
						<p class="post-date">{{ post.date|date:"Y-m-d" }}</p>
						<h1>{{ post.headline|title }}</h1>
					</div>
					<div class="content-body">
						<p>{{ post.body|convert_markdown|safe }}</p>
					</div>
				</div>
			</article>
		</div>
	</div>
</div>

<script>
	//Get the button
	let mybutton = document.getElementById("btn-back-to-top");

	// When the user scrolls down 20px from the top of the document, show the button
	window.onscroll = function () {
		scrollFunction();
	};

	function scrollFunction() {
		if (
			document.body.scrollTop > 20 ||
			document.documentElement.scrollTop > 20
		) {
			mybutton.style.display = "block";
		} else {
			mybutton.style.display = "none";
		}
	}
	// When the user clicks on the button, scroll to the top of the document
	mybutton.addEventListener("click", backToTop);

	function backToTop() {
		document.body.scrollTop = 0;
		document.documentElement.scrollTop = 0;
	}
</script>

{% endblock %}