/* 
*  CSS TABLE OF BLOG CONTENT
*   
*  1.0 - Globals
*  2.0 - Navbar
*  3.0 - Body
*  4.0 - Dashboard
*  5.0 - Footer
*/

/* 
*  1.0 - Globals 
*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
body {
  font-family: "Open Sans", sans-serif;
  background: #25262c;
  color: white;
}

:root {
  --hover-color: #999db4;
}

/* 
*  2.0 - Navbar
*/

.social-media {
  margin: 1rem 0;
}

.social-media a {
  color: white;
}

.social-media a:hover {
  color: var(--hover-color);
}

#homeNav {
  padding: 0rem 4rem;
}

#homeNav .navbar-brand {
  font-size: 1.5em;
  font-weight: 500;
  transition: font-size 0.3s ease-in-out;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
}

#homeNav .nav-item {
  margin-right: 1rem;
}

#homeNav .nav-link {
  font-size: 1.1rem;
  color: white;
  letter-spacing: 0.0625em;
}

#homeNav .nav-link:hover {
  color: var(--hover-color);
}

@media (max-width: 540px) {
  #homeNav {
    padding: 0rem 2rem;
  }
}

/* 
*  3.1 - Blog-home
*/

.blog {
  max-width: 950px;
  margin: 0 auto;
}

.post,
.page {
  padding: 0 6rem;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
.post-content,
.page-content {
  padding: 1em 0 2em;
  margin: 0 auto 1em;
  font-family: "Roboto Mono", monospace;
  font-size: 1.1rem;
  letter-spacing: 2px;
  line-height: 2.5rem;
}

.content-header {
  border-bottom: 2px solid #d8433e;
}

.content-header a {
  color: white;
  text-decoration: none;
}

.content-header a:hover {
  color: var(--hover-color);
}

.post-date {
  color: #d8433e;
}

.post-summary {
  margin-top: 1rem;
  color: #ffffff;
}

@media (max-width: 540px) {
  .post,
  .page {
    padding: 0 2rem;
  }

  .content-body,
  .page-content {
    font-size: 0.9rem;
  }
}

/* 
*  4.0 - Dashboard
*/

.blog-dashboard {
  padding: 8rem 0;
}

.post-list {
  border-top: 1px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  max-width: 1000px;
  margin: 0 auto;
}

.dashboard-post {
  padding: 1rem 5rem;

  border-bottom: 1px solid black;
}

.control-btns {
  text-align: right;
}

/* 
*  5.0 - Footer
*/

.footer-content {
  max-width: 950px;
  margin: 5em auto 1em;
  padding: 0 6rem;
}

.footer-copyright {
  font-size: .6875em;
}